body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  .module-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    
  }
  
  .module-card {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 20px;
    width: calc(25% - 20px); /* Adjust width as needed */
    text-align: center;
  }
   
 